extends ../layouts/common
block content
  // method GET

  h1 Products
  a.btn.btn-primary.d-inline.ml-3(href="products/createProduct") CLICK here to Create Product
  div.container
    div.row
      each product in Product
        div.col-sm-3
          img(src=product.image).mt-3
          div.border
            p= product.name
            p= product.description
            p= product.price
            div.mb-1.ml-1
              a.btn.btn-info(href='/products/detail') Detail
              a.btn.btn-info.ml-3(href='/cart/add/'+ product.id) Add to Cart